In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("PySpark_Dataframe_Basic").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/07 12:30:50 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

24/03/07 12:31:03 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

In [2]:
df = spark.read.json("people.json")
df.show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [3]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [4]:
df.columns

['age', 'name']

In [6]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   NULL|
| stddev|7.7781745930520225|   NULL|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [7]:
from pyspark.sql.types import StructField, StringType, IntegerType, StructType

In [8]:
data_schema = [
    StructField("age", IntegerType(), True),
    StructField("name", StringType(), True),
]

In [9]:
final_struc = StructType(fields=data_schema)

In [10]:
df = spark.read.json("people.json", schema=final_struc)
df.show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [11]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [12]:
type(df["age"])

pyspark.sql.column.Column

In [13]:
df.select("age").show()

+----+
| age|
+----+
|NULL|
|  30|
|  19|
+----+

In [22]:
df.head(2)

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [23]:
df.select(["age", "name"]).show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [31]:
df.withColumn("newage", df["age"] + 1).show()

+----+-------+------+
| age|   name|newage|
+----+-------+------+
|NULL|Michael|  NULL|
|  30|   Andy|    31|
|  19| Justin|    20|
+----+-------+------+

In [32]:
df.withColumnRenamed("age", "new_age").show()

+-------+-------+
|new_age|   name|
+-------+-------+
|   NULL|Michael|
|     30|   Andy|
|     19| Justin|
+-------+-------+

In [33]:
df.createOrReplaceTempView("people")

In [34]:
result = spark.sql("select * from people")
result.show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+